.game footer {
  width: 360px;
  position: relative;
  margin: 0 auto;
  padding: 10px 4px;
  margin-top: 10px;
}
.game footer .score {
  justify-content: center;
  display: flex;
}
.game footer .score div {
  padding: 8px;
}
.game footer .restart {
  display: flex;
  justify-content: center;
  padding-bottom: 75px;
}
.game .container {
  border: 1px solid #dedede;
  padding: 12px;
  box-shadow: 0 0 4px 4px #dedede;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: start;
  gap: 1rem;
  margin: 0 auto;
  margin-top: 50px;
  width: 360px;
  height: 300px;
  perspective: 100%;
  max-width: 720px;
}
