@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
Html,
body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  font-family: 'Inter';
}
a {
  text-decoration: none;
  font: inherit;
  color: black;
}

button {
  /* appearance: none; */
  font-family: 'Inter';
  border: none;
  width: fit-content;
}
